/***
*** Global Styles ***
***/


body {
  @apply bg-[url(../../assets/images/home-pattern.webp)] bg-repeat bg-auto relative z-[1]
}

body::before {
  content: "";
  @apply absolute bg-[#E2D8E3] w-full h-full top-0 left-0 right-0 bottom-0 m-auto z-[-1] opacity-[70%] pointer-events-none
}


html {
  scroll-behavior: smooth;
}

main p,
#banner p {
  margin: var(--space-3) 0;
}

main ol,
main ul {
  list-style: disc;
  padding: 0 0 0 var(--space-3);
  margin: var(--space-3) 0;
}

/*** Flexible Content ***/

main section {
  padding: var(--space-8) var(--space-7);
}

main section div.container-inner,
main section #category-wrapper,
main section #post-block-wrapper {
  @apply w-full md:w-11/12 mx-auto max-w-screen-2xl;
}

@media (min-width: 1024px) {
  main section {
    padding: var(--space-8) 0;
  }
}

/*** Return to Top ***/

.scroll-top {
  @apply bg-primary;

  opacity: 0.6;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.scroll-top svg {
  width: 15px;
  fill: #fff;
}


.container {
  @apply w-full 3xl:max-w-[1650px] 2xl:max-w-[1441px] xl:max-w-[1281px] lg:max-w-[1025px] md:max-w-[760px] max-w-full mx-auto px-[15px]
}


/* Header Section */

.top-menu {
  @apply ml-auto
}

.top-menu li a {
  @apply 3xl:text-[24px] 2xl:text-[20px] xl:text-[18px] text-[16px] leading-none font-body font-[400] uppercase text-white transition-all duration-500 hover:text-secondary
}

.hdr-btn {
  @apply 3xl:py-[24px] 2xl:py-[20px] xl:py-[18px] py-[15px] 3xl:px-[36px] 2xl:px-[30px] xl:px-[25px] px-[20px] flex justify-center gap-4 lg:bg-secondary bg-primary text-white transition-all duration-500 lg:hover:bg-primary hover:bg-secondary
}

.hdr-btn span {
  @apply 3xl:text-[24px] text-[20px] leading-none font-heading font-[700] text-white uppercase
}

.top-menu ul li ul.sub-menu {
  @apply lg:hidden 2xl:w-[320px] lg:w-[250px] w-[290px] top-full left-[5px] lg:bg-white 2xl:p-[20px] p-[12px] z-[999] absolute
}

.top-menu ul li:hover ul.sub-menu {
  @apply lg:block
}

.top-menu ul li:hover ul.sub-menu ul {
  @apply hidden
}

.top-menu ul li:hover ul.sub-menu li {
  @apply relative
}

.top-menu ul li:hover ul.sub-menu li:hover>ul {
  @apply lg:block lg:top-0 lg:left-[100%]
}

.top-menu .sub-menu li.current-menu-item a {
  @apply text-white
}

.top-menu .sub-menu li a:after {
  @apply hidden
}

/* .side-menu:checked~div#primary-menu li.current-menu-item {
  @apply !pr-10 relative
} */

.side-menu:checked~div#primary-menu li ul.sub-menu {
  @apply pl-6
}

.top-menu .sub-menu li {
  @apply w-full m-0 !p-0
}

.top-menu .sub-menu li a {
  @apply 2xl:text-[16px] xl:text-[14px] lg:text-[13px] text-[15px] font-body w-full leading-[1.5] p-[15px] pr-[20px] text-[#1C1B1F] block capitalize relative bg-transparent transition duration-500 ease-in-out font-[700]
}

.top-menu .sub-menu li a:before {
  position: absolute;
  content: "";
  right: 8px;
  top: 21px;
  width: 7px;
  height: 12px;
  background-image: url(../../assets/images/sub-menu-icon.webp);
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(11%);
}

.top-menu .sub-menu li a:hover {
  @apply bg-[#8dcf6a17] text-[#8DCF6A] font-[700]
}

.top-menu .sub-menu li a:hover:before {
  filter: none;
}

.top-menu .sub-menu li.current-menu-item a {
  border-left: 4px solid #3C5773;
  background-color: #D6E0EA;
  color: #000;
}


.top-menu .sub-menu li a:hover::before {
  display: block;
}

#header::before {
  @apply absolute lg:top-0 left-0 lg:h-full h-[56px] 3xl:w-[223px] 2xl:w-[180px] lg:w-[100px] w-[90px];
  content: '';
  background-image: url('../../assets/images/header-left-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

#header.f-nav {
  @apply fixed z-[999] py-[10px] border-b-2 border-secondary bg-black
}

header#header.f-nav {
  @apply !top-0
}

.header-btn img {
  max-width: 20px;
  height: 20px;
}

/* Common Styles */

.para-txt p {
  @apply 2xl:text-[20px] xl:text-[18px] lg:text-[17px] md:text-[16px] sm:text-[20px] text-[17px] font-[400] font-body leading-[1.6] tracking-[0] text-black xl:mb-[30px] md:mb-[22px] sm:mb-[30px] mb-[22px]
}

.text-heading {
  @apply font-heading font-[600] leading-[1.4] tracking-[0] 2xl:text-[48px] xl:text-[40px] lg:text-[35px] md:text-[30px] sm:text-[36px] text-[28px] 2xl:mb-[30px] lg:mb-[20px] mb-[15px] text-center text-secondary
}

.text-heading.color {
  @apply text-primary
}

a.cmn-btn {
  @apply 3xl:text-[24px] 2xl:text-[22px] xl:text-[20px] lg:text-[19px] lg:text-[17px] md:text-[16px] sm:text-[20px] text-[16px] inline-block 2xl:px-[40px] xl:px-[35px] lg:px-[25px] md:px-[20px] sm:px-[25px] px-[12px] xl:pt-[22px] lg:pt-[20px] md:pt-[17px] sm:pt-[20px] pt-[15px] xl:pb-[18px] lg:pb-[16px] md:pb-[14px] sm:pb-[18px] pb-[13px] bg-[#8DCF6A] text-white uppercase leading-none font-bold transition-all duration-500 font-heading hover:bg-[#36499B] text-center
}


/* Banner Section */

#banner-section {
  @apply relative overflow-hidden 2xl:pt-[320px] xl:pt-[280px] lg:pt-[220px] md:pt-[200px] sm:pt-[280px] pt-[220px] 2xl:pb-[320px] xl:pb-[240px] lg:pb-[190px] md:pb-[150px] sm:pb-[300px] pb-[200px]
}

#banner-section::before, #banner-section::after {
  content: "";
  @apply absolute bg-[url(../../assets/images/banner-m-logo.webp)] bg-no-repeat bg-center bg-cover w-[56.76%] h-full bottom-0 right-0 opacity-[10%] z-[2] pointer-events-none
}

#banner-section::after {
  @apply bg-[url(../../assets/images/banner-lyr.webp)] w-full top-0 left-0 opacity-[100%]
}

.banner-slider {
  @apply absolute inset-0 z-[1] w-full h-full
}

.bnr-slide-item {
  @apply w-full
}

.banner-cnt {
  @apply relative z-[4] w-full 2xl:max-w-[1130px] xl:max-w-[1000px] lg:max-w-[850px] max-w-full m-auto
}

.banner-cnt h1 {
  text-shadow: 0 0 4px black;
  @apply text-center text-white font-bold leading-[1.2] tracking-[0px] mb-[20px] 3xl:text-[80px] 2xl:text-[70px] xl:text-[60px] lg:text-[53px] md:text-[40px] sm:text-[48px] text-[40px] font-heading
}

.banner-cnt h1 br {
  @apply lg:block hidden
}

.bnr-btn {
  @apply text-center;
}

.banner-slider.owl-carousel :is(.owl-stage-outer, .owl-stage, .owl-item, .bnr-slide-item, .bnr-slide-item img) {
  @apply h-full
}

.bnr-slide-item img {
  @apply object-cover object-center
}


/*  Co-ordinate Section */

#coordinate-sec {
  @apply 2xl:pb-[135px] xl:pb-[100px] lg:pb-[70px] md:pb-[50px] sm:pb-[100px] pb-[40px] relative
}

#coordinate-sec::before {
  content: "";
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  @apply absolute bg-secondary w-full h-[54%] top-0 left-0 right-0 m-auto lg:block hidden
}

.coordinate-blk {
  @apply 3xl:max-w-[1345px] 2xl:max-w-[1300px] xl:max-w-[1100px] lg:max-w-[900px] max-w-full 2xl:px-[135px] xl:px-[90px] lg:px-[50px] md:px-[30px] sm:px-[25px] px-[15px] 2xl:py-[88px] xl:py-[70px] lg:py-[50px] md:py-[30px] sm:py-[50px] py-[25px] bg-[#fff] mx-auto lg:border-b-[10px] border-b-[6px] border-[#8DCF6A] bg-[url('../../assets/images/coordinate-blk-bg.webp')] bg-no-repeat bg-cover bg-center relative text-center 2xl:mt-[-280px] xl:mt-[-200px] lg:mt-[-150px] mt-[-100px] z-[2]
}

.coordinate-blk p:last-child {
  @apply mb-0
}


/* Offer Section */

#offer-sec {
  @apply 3xl:pb-[200px] 2xl:pb-[170px] xl:pb-[140px] lg:pb-[130px] md:pb-[100px] sm:pb-[80px] pb-[30px] relative z-[1]
}

.offer-blk {
  @apply max-w-[1127px] mx-auto text-center
}

.offer-blk p:last-child {
  @apply mb-0
}

.why-choose-txt {
  @apply font-[600] 3xl:text-[12vw] text-[11vw] text-[#36499B] opacity-[6%] leading-[1] absolute 3xl:bottom-[-58px] lg:bottom-[-35px] bottom-[-25px] uppercase left-0 right-0 m-auto text-center md:block hidden
}


/* Different Section */

#different-sec {
  @apply md:bg-none bg-no-repeat bg-cover bg-center 2xl:pt-[200px] xl:pt-[160px] lg:pt-[120px] md:pt-[70px] sm:pt-[150px] pt-[100px]
}

.different-blk {
  @apply xl:max-w-[795px] lg:max-w-[730px] max-w-full mx-auto bg-[#fff] 2xl:py-[90px] xl:py-[65px] lg:py-[50px] sm:py-[50px] py-[30px] 2xl:px-[75px] xl:px-[65px] lg:px-[50px] md:px-[40px] sm:px-[30px] px-[20px]
}

.different-blk p:last-child {
  @apply mb-0
}

.different-blk .text-heading {
  @apply text-left mb-[15px]
}



/* How It Works Section */

.associations-blk {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


/* works for developers section */

.wrks-fr-developers-sec {
  padding: 105px 0;
  background-image: url('../../assets/images/developer-sec-bg.webp');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1D2443;
  opacity: 100%;
  overflow: hidden;
  position: relative;
}

.wrks-fr-developers-sec::before {
  position: absolute;
  content: "";
  background-color: #1D2443;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 90%;
  pointer-events: none;
}

.wrks-fr-developers-sec .container {
  position: relative;
  max-width: 100%;
}

.item-blk .count {
  font-family: 'Fieldwork';
  color: #36499B;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  font-size: 96px;
  margin-bottom: 10px;
}

.item-blk .sub-hdg {
  font-family: 'Century Gothic';
  color: #36499B;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  font-size: 24px;
  margin-bottom: 24px;
}


.wrks-fr-developers-sec .count {
  color: #FFFFFF;
}

.wrks-fr-developers-sec .sub-hdg {
  color: #FFFFFF;
}

.wrks-fr-developers-sec .text {
  color: #FFFFFF;
}

.associations-blk-lst {
  max-width: 1630px;
  margin: 0 auto;
}

.associations-blk.blk-btm {
  margin-top: -150px;
}

.item-blk.itm-btm {
  padding: 60px 0 0;
  position: relative;
  z-index: 0;
}

.item-blk::before {
  content: '';
  position: absolute;
  background-color: #8DCF6A;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.associations-blk.blk-top {
  justify-content: center;
  gap: 50px;
}

.item-blk {
  width: 30%;
  text-align: center;
}

.item-blk p {
  color: #fff;
  margin-bottom: 0;
}

.item-blk.itm-top {
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
}

.item-blk.itm-top::before {
  bottom: 1px;
  top: inherit;
}

.associations-blk.blk-btm .item-blk:nth-child(2) {
  display: none;
}

/* Curve Line */

.curve-line {
  position: absolute;
  left: 0;
  top: 360px;
  width: 100%;
  height: 145px;
  z-index: 0;
}

.curve-line img {
  width: 100%;
  height: 100%;
  display: block;
}


.wrks-fr-developers-sec.association-sec {
  background-image: none;
  background-color: transparent;
}

.wrks-fr-developers-sec.association-sec:before {
  display: none;
}

.association-sec :is(.text-heading, .count, .sub-hdg, p) {
  color: #36499B;
}

.association-sec .curve-line {
  top: 276px;
}



/* Unique Section starts */

.unique-sec {
  @apply bg-[#131626] relative overflow-hidden 3xl:pt-[190px] 2xl:pt-[160px] xl:pt-[130px] lg:pt-[100px] md:pt-[70px] sm:pt-[120px] pt-[40px] lg:px-[0] px-[15px] lg:pb-[0] md:pb-[70px] sm:pb-[120px] pb-[40px];
}

.unique-sec .container {
  @apply w-full max-w-[1750px] ml-auto mr-0 p-0;
}

.unique-text-heading {
  @apply 3xl:text-[100px] 2xl:text-[80px] xl:text-[55px] lg:text-[50px] md:text-[35px] sm:text-[48px] text-[30px] uppercase font-heading font-semibold text-secondary lg:text-left text-center tracking-[0px] md:leading-[1] leading-[1.35] 3xl:mb-[70px] 2xl:mb-[60px] xl:mb-[40px] lg:mb-[30px] md:mb-[20px] sm:mb-[40px] mb-[25px];
}

.unique-itm-img {
  @apply w-auto max-w-[100px] 3xl:min-h-[87px] 2xl:min-h-[75px] xl:min-h-[67px] lg:min-h-[56px] min-h-[auto] 3xl:mb-[30px] 2xl:mb-[20px] xl:mb-[10px] lg:mb-[2px] mb-[-5px] 3xl:scale-[1] 2xl:scale-[0.85] xl:scale-[0.75] md:scale-[0.65] scale-[0.6] origin-[left_top];
}

.unique-blk.owl-carousel .unique-itm-img img {
  @apply w-auto block;
}

.unique-blk {
  @apply 3xl:mb-[155px] 2xl:mb-[120px] xl:mb-[100px] lg:mb-[80px] mb-[0px] lg:block flex justify-center items-center flex-wrap lg:gap-[0] gap-[25px];
}

.unique-itm {
  @apply flex flex-col w-full 3xl:mr-[30px] 2xl:mr-[25px] xl:mr-[22px] lg:mr-[18px] mr-0 3xl:p-[55px] 2xl:p-[45px] xl:p-[35px] lg:p-[25px] md:p-[25px] sm:p-[30px] p-[20px] border-[1px] border-solid border-white lg:max-w-full max-w-[385px] lg:h-full h-[stretch];
}

.unique-itm-title {
  @apply 3xl:text-[32px] 2xl:text-[26px] xl:text-[23px] lg:text-[21px] sm:text-[24px] text-[20px] font-bold font-body text-white tracking-[0px] leading-[1.4] 3xl:mb-[25px] 2xl:mb-[22px] xl:mb-[17px] lg:mb-[13px] mb-[20px];
}

.unique-itm-cont p {
  @apply text-white last-of-type:mb-0
}

.unique-blk.owl-carousel .owl-stage {
  @apply flex !pl-0
}

.unique-blk.owl-carousel .owl-item {
  @apply flex;
}

.unique-blk.owl-carousel .owl-nav {
  @apply absolute lg:flex 3xl:gap-[20px] 2xl:gap-[17px] xl:gap-[15px] lg:gap-[12px] gap-[0] hidden 3xl:right-[134px] 2xl:right-[127px] xl:right-[115px] lg:right-[100px] right-[80px] 3xl:top-[-160px] 2xl:top-[-140px] xl:top-[-100px] lg:top-[-80px] top-[-110px];
}

.unique-blk.owl-carousel .owl-nav button {
  @apply bg-[url(../../assets/images/left-arrow-img.webp)] bg-no-repeat bg-[#3F3F3F] bg-[center_center] rounded-[50%] w-[60px] h-[60px] 3xl:scale-[1] 2xl:scale-[0.85] xl:scale-[0.75] md:scale-[0.65] 3xl:m-[0] 2xl:m-[-4px] xl:m-[-7px] lg:m-[-10px] m-[0] scale-[1];
}

.unique-blk.owl-carousel .owl-nav button:hover {
  background-color: #36499B;
}

.unique-blk.owl-carousel .owl-nav button.owl-next {
  rotate: 180deg;
}

.unique-blk.owl-carousel .owl-nav span {
  @apply text-[0];
}

.service-title {
  @apply 3xl:text-[230px] 2xl:text-[210px] xl:text-[170px] lg:text-[140px] md:text-[100px] sm:text-[80px] text-[50px] font-heading font-semibold leading-[0.51] tracking-[0] uppercase text-[#ffffff12] text-right lg:block hidden 3xl:mr-[-30px] 2xl:mr-[-26px] xl:mr-[-23px] lg:mr-[-20px] mr-[0px];
}


/* Business Section */

.business-section {
  @apply 3xl:py-[200px] 2xl:py-[150px] xl:py-[120px] lg:py-[90px] md:py-[50px] sm:py-[120px] py-[40px] bg-no-repeat bg-center bg-cover relative z-0 flex justify-between items-end;
}


.business-blk {
  @apply lg:pl-[8.4%] sm:pl-[33px] pl-[20px] lg:pt-[5%] md:pt-[50px] sm:pt-[120px] pt-[40px] bg-no-repeat bg-center bg-cover relative z-0 flex lg:justify-between justify-center lg:items-end items-center lg:flex-row flex-col lg:gap-[0] gap-[20px];
}

.business-blk::before {
  position: absolute;
  content: " ";
  width: 100%;
  background-color: #000;
  opacity: 80%;
  inset: 0;
  margin: auto;
  pointer-events: none;
  z-index: -1;
}

.business-rgt-blk {
  @apply lg:w-[44.8%] w-full lg:max-w-full max-w-[400px] lg:m-[0] ml-auto;
}

.business-rgt-blk img {
  @apply w-full block;
}

.business-lft-blk {
  @apply lg:w-[44%] w-full 3xl:pb-[87px] 2xl:pb-[77px] xl:pb-[68px] lg:pb-[60px] pb-[0] lg:pr-[0] pr-[20px];
}

.business-title {
  @apply 3xl:text-[48px] 2xl:text-[42px] xl:text-[38px] md:text-[32px] sm:text-[48px] text-[30px] font-heading font-semibold text-secondary tracking-[0px] md:leading-[1] leading-[1.35] xl:mb-[15px] md:mb-[12px] mb-[10px];
}

.business-cont p {
  @apply 3xl:text-[24px] 2xl:text-[22px] xl:text-[19px] lg:text-[15px] md:text-[18px] sm:text-[24px] text-[18px] text-white font-body font-normal tracking-[0px] leading-[1.5] last:mb-0 3xl:mb-[30px] 2xl:mb-[25px] xl:mb-[22px] lg:mb-[20px] mb-[28px];
}



/* Testimonial Section Starts */

.testimonials-sec {
  @apply 3xl:pb-[200px] 2xl:pb-[170px] xl:pb-[145px] lg:pb-[120px] md:pb-[70px] sm:pb-[120px] pb-[40px] relative z-[1];
}

.testimonials-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 46%;
  bottom: 0;
  right: 0;
  background-color: #8DCF6A;
  pointer-events: none;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  z-index: -1;
}

.testi-text-heading {
  @apply 3xl:text-[96px] 2xl:text-[85px] xl:text-[70px] lg:text-[55px] md:text-[45px] sm:text-[48px] text-[30px] font-semibold font-heading leading-[1] tracking-[0] text-center text-primary uppercase 3xl:mb-[52px] 2xl:mb-[40px] xl:mb-[35px] md:mb-[20px] sm:mb-[40px] mb-[20px];
}

.hm-testi-item {
  @apply h-full flex flex-col bg-[#3A3A3A] w-full lg:m-[0] m-auto;
}

.hm-testi-cont {
  @apply 3xl:pl-[60px] 2xl:pl-[50px] xl:pl-[42px] lg:pl-[34px] md:pl-[30px] sm:pl-[50px] pl-[20px] 2xl:pr-[20px] xl:pr-[18px] lg:pr-[16px] md:pr-[20px] sm:pr-[50px] pr-[20px] xl:pt-[25px] md:pt-[20px] sm:pt-[35px] pt-[25px] 2xl:pb-[30px] xl:pb-[25px] md:pb-[20px] sm:pb-[35px] pb-[25px];
}

.project-title {
  @apply 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[15px] md:text-[16px] sm:text-[20px] text-[16px] text-[#818ec5] font-heading font-bold leading-[1.6] tracking-[0] uppercase 3xl:mb-[22px] 2xl:mb-[19px] xl:mb-[16px] lg:mb-[13px] sm:mb-[20px] mb-[16px] 3xl:pr-[30px] 2xl:pr-[25px] xl:pr-[21px] lg:pr-[18px] md:pr-[0px] sm:pr-[10px] pr-[0];
}

.testi-blk.owl-carousel .owl-stage {
  @apply flex;
}

.testi-para {
  @apply overflow-x-visible overflow-y-scroll scroll-smooth 3xl:h-[290px] 2xl:h-[260px] xl:h-[230px] lg:h-[200px] h-[auto] 3xl:mb-[20px] 2xl:mb-[18px] xl:mb-[16px] lg:mb-[14px] md:mb-[18px] sm:mb-[25px] mb-[18px] 3xl:pr-[20px] 2xl:pr-[18px] xl:pr-[17px] lg:pr-[15px] pr-[0];
}

.testi-para p {
  @apply text-white last-of-type:mb-0
}

.testi-para::-webkit-scrollbar {
  @apply xl:w-[8px] w-[6px] xl:h-[8px] h-[6px] lg:block hidden
}

.testi-para::-webkit-scrollbar-track {
  @apply bg-[#D9D9D9] rounded-[5px]
}

.testi-para::-webkit-scrollbar-thumb {
  @apply bg-[#949494] rounded-[6px]
}

.hm-testi-author {
  @apply mt-auto border-t-[#ffffff2e] border-[t] border-t-[1px] border-solid 3xl:px-[50px] 2xl:px-[40px] xl:px-[33px] lg:px-[25px] md:px-[30px] sm:px-[45px] px-[30px] 3xl:py-[25px] 2xl:py-[22px] xl:py-[20px] lg:py-[19px] md:py-[20px] sm:py-[25px] py-[20px];
}

.star-rat {
  @apply w-full 3xl:max-w-[175px] 2xl:max-w-[150px] xl:max-w-[130px] lg:max-w-[115px] md:max-w-[120px] sm:max-w-[175px] max-w-[130px]
}

.star-rat img {
  @apply w-full block;
}

.testi-author {
  @apply 3xl:text-[24px] 2xl:text-[21px] xl:text-[19px] lg:text-[17px] md:text-[20px] sm:text-[24px] text-[18px] font-heading text-[#818ec5] leading-[1] tracking-[0] mb-[5px];
}

.author-bio {
  @apply 3xl:text-[16px] 2xl:text-[15px] lg:text-[14px] md:text-[15px] sm:text-[16px] text-[15px] text-white font-body font-normal leading-[1.5] tracking-[0] m-0;
}

.testi-btn {
  @apply text-center;
}

.testi-btn a.cmn-btn {
  @apply bg-primary hover:bg-[#3F3F3F]
}

.testi-blk {
  @apply 3xl:mb-[85px] 2xl:mb-[70px] xl:mb-[60px] lg:mb-[50px] md:mb-[40px] sm:mb-[60px] mb-[30px];
}



@media screen and (max-width:1800px) and (min-width:1651px) {
  .unique-sec .container {
    @apply max-w-[1610px]
  }

  .unique-itm-cont p {
    font-size: 19px;
  }

  .unique-itm {
    margin-right: 27px;
    padding: 48px;
  }
}



/* Footer Starts */

.footer-sec {
  @apply bg-no-repeat bg-cover bg-center relative z-[1] 3xl:pt-[105px] 2xl:pt-[85px] xl:pt-[70px] lg:pt-[55px] md:pt-[70px] sm:pt-[80px] pt-[40px];
}

.footer-sec::before {
  position: absolute;
  content: "";
  background-color: #131626;
  opacity: 97%;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.footer-sec::after {
  position: absolute;
  content: "";
  background-image: url(../images/ftr-top-bfr-img.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 3%;
  width: 27.7%;
  height: 37.5%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ftr-top-sec {
  @apply border-b border-white/20 3xl:pb-[82px] 2xl:pb-[70px] xl:pb-[60px] lg:pb-[50px] md:pb-[40px] sm:pb-[80px] pb-[40px]
}

.ftr-top-blk {
  @apply flex lg:justify-between justify-center lg:items-end items-start lg:flex-row flex-col lg:gap-[0] gap-[25px];
}

.ftr-top-lft {
  @apply lg:w-[56.9%] w-full
}

.ftr-text-heading {
  @apply font-heading font-[600] leading-[1.2] tracking-[0] text-left mb-[5px] text-secondary 3xl:text-[64px] 2xl:text-[58px] xl:text-[51px] lg:text-[45px] md:text-[40px] sm:text-[48px] text-[35px]
}

.ftr-top-lft p {
  @apply font-[400] font-body leading-[1.5] tracking-[0] text-white mb-[0px] 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[15px] md:text-[18px] sm:text-[20px] text-[16px]
}

.ftr-contact-blk {
  @apply flex lg:justify-between justify-center items-center lg:flex-row flex-col lg:gap-0 md:gap-[50px] sm:gap-[65px] gap-[40px] relative 3xl:py-[120px] 2xl:py-[100px] xl:py-[85px] lg:py-[60px] sm:py-[50px] py-[40px]
}

.ftr-cont-lft {
  @apply xl:w-[24.5%] lg:w-[22.5%] w-full lg:max-w-full lg:m-0 m-auto
}

.ftr-logo {
  @apply 3xl:mb-[48px] 2xl:mb-[45px] xl:mb-[42px] lg:mb-[39px] md:mb-[30px] sm:mb-[45px] mb-[30px] w-full lg:max-w-full md:max-w-[300px] sm:max-w-[370px] max-w-[300px] lg:mx-0 mx-auto
}

.ftr-soci-blk {
  @apply flex lg:justify-start justify-center lg:items-start items-center 3xl:gap-[42px] 2xl:gap-[36px] xl:gap-[31px] lg:gap-[20px] md:gap-[20px] sm:gap-[42px] gap-[25px]
}

.ftr-soci-blk img {
  @apply w-auto block 3xl:scale-[1] 2xl:scale-[0.9] xl:scale-[0.8] lg:scale-[0.6] md:scale-[0.8] sm:scale-[1] scale-[0.8] origin-[left_center];
}

.ftr-soci-blk a {
  @apply hover:scale-[1.1]
}

.ftr-cont-rgt {
  @apply flex lg:justify-between justify-center lg:flex-row flex-col lg:gap-0 md:gap-[30px] sm:gap-[40px] gap-[25px] xl:w-[66%] lg:w-[69%] w-full lg:max-w-full max-w-[400px] lg:m-0 m-auto lg:items-start items-center
}

.ftr-cont-blk {
  @apply xl:w-[27.5%] lg:w-[32%] w-full
}

.ftr-cont-itm {
  @apply flex 2xl:gap-[15px] xl:gap-[13px] lg:gap-[8px] sm:gap-[15px] gap-[10px] 3xl:mb-[16px] 2xl:mb-[14px] xl:mb-[12px] lg:mb-[10px] mb-[16px] last:mb-[0]
}

.ftr-cont-itm.email a {
  @apply underline hover:no-underline
}

.ftr-cont-itm.address a {
  @apply leading-[1.5]
}

.ftr-cont-icon {
  @apply w-auto 2xl:scale-[1] xl:scale-[0.85] lg:scale-[0.75] md:scale-[0.8] sm:scale-[1] scale-[0.8] origin-[left_center] min-w-[22px]
}

.ftr-cont-icon img {
  @apply md:w-full block w-auto
}

.ftr-cont-txt {
  @apply lg:w-[87%] w-full
}

.ftr-cont-txt a {
  @apply font-[400] font-body leading-[1] tracking-[0] text-white hover:text-secondary inline-block 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[15px] md:text-[18px] sm:text-[20px] text-[16px]
}

.ftr-menu-blk {
  @apply border-t border-b text-center border-white/20 3xl:py-[30px] 2xl:py-[27px] xl:py-[25px] lg:py-[22px] md:py-[25px] sm:py-[30px] py-[20px]
}

.ftr-menu-lst ul {
  @apply m-0 md:block flex justify-center items-center flex-wrap md:flex-row flex-col md:gap-0 gap-[15px]
}

.ftr-menu-lst ul li {
  @apply inline last:mr-0 3xl:mr-[200px] 2xl:mr-[170px] xl:mr-[140px] lg:mr-[110px] md:mr-[30px] mr-[0]
}

.ftr-menu-lst ul li a {
  @apply font-[400] leading-[1.5] tracking-[0] text-white uppercase hover:text-secondary 3xl:text-[24px] 2xl:text-[22px] xl:text-[20px] lg:text-[18px] md:text-[18px] sm:text-[24px] text-[17px]
}

.ftr-desclaimer-txt {
  @apply 3xl:py-[60px] 2xl:py-[50px] xl:py-[40px] lg:py-[35px] md:py-[50px] sm:py-[55px] py-[40px]
}

.ftr-desclaimer-txt p {
  @apply font-[400] leading-[1.5] tracking-[0] text-[#8F8F8F] text-[12px] m-0 font-body
}

.ftr-top-rgt a.cmn-btn {
  @apply 2xl:px-[20px] xl:px-[18px] lg:px-[17px] md:px-[30px] sm:px-[25px] px-[12px]
}

.copyrights {
  @apply bg-primary py-[18px]
}

.cpy-blk {
  @apply flex justify-center xl:gap-[15px] lg:gap-[10px] gap-[15px] w-full md:flex-row md:flex-nowrap flex-col mx-auto
}

.cpy-inr {
  @apply flex items-center justify-center text-center
}

.cpy-inr p {
  @apply md:block flex items-center justify-center md:flex-row flex-col md:gap-0 gap-[10px]
}

.cpy-inr p span {
  @apply sm:leading-[1] leading-[1.5]
}

.cpy-inr * {
  @apply font-[400] leading-[1] tracking-[0] text-white text-[14px] m-0 font-body
}

.cpy-inr p a {
  @apply hover:text-secondary underline
}

.juris-blk {
  @apply xl:pl-[15px] md:pl-[10px] pl-[0] md:border-l border-white/20
}

.juris-blk a {
  @apply flex items-center justify-center gap-[10px] font-[400] leading-[1] tracking-[0] text-white text-[14px]
}

.ftr-cont-txt a, .ftr-menu-lst a, .cpy-inr p, .juris-blk a {
  @apply font-body
}



/* responsive */

@media screen and (max-width: 1700px) {
  .associations-blk-lst {
    max-width: 1500px;
  }

  .curve-line {
    top: 330px;
  }

  .item-blk .count {
    font-size: 76px;
    margin-bottom: 20px;
  }

  .item-blk .sub-hdg {
    line-height: 1.3;
    font-size: 22px;
    margin-bottom: 20px;
  }


  .association-sec .associations-blk.blk-btm {
    margin-top: -150px;
  }

  .association-sec .curve-line {
    top: 255px;
  }
}


@media screen and (max-width:1650px) {

  .association-sec .curve-line {
    top: 250px;
  }

  .unique-sec .container {
    @apply max-w-[1510px]
  }
}


@media screen and (max-width: 1550px) {

  .wrks-fr-developers-sec {
    padding: 90px 0;
  }

  .association-sec .curve-line {
    top: 256px;
  }

  .associations-blk-lst {
    max-width: 1300px;
  }


  .associations-blk.blk-btm {
    margin-top: -142px;
  }

  .item-blk.itm-top::before {
    bottom: -4px;
  }

  .item-blk p {
    font-size: 19px;
  }

  .item-blk {
    width: 34%;
  }


  .association-sec .item-blk.itm-top::before {
    bottom: 4px;
  }

  .unique-sec .container {
    @apply max-w-[1400px]
  }
}

@media screen and (max-width: 1440px) {

  .wrks-fr-developers-sec {
    padding: 80px 0;
  }

  .associations-blk-lst {
    max-width: 1200px;
  }

  .item-blk .count {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .item-blk.itm-btm {
    padding: 60px 0 0;
  }

  .item-blk .sub-hdg {
    line-height: 1.2;
    font-size: 19px;
    margin-bottom: 15px;
  }

  .item-blk.itm-top {
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
  }

  .associations-blk.blk-btm {
    margin-top: -120px;
  }

  .curve-line {
    height: 122px;
    top: 255px;
  }


  .item-blk p {
    font-size: 17px;
  }

  .association-sec .associations-blk.blk-btm {
    margin-top: -128px;
  }

  .association-sec .curve-line {
    top: 192px;
  }

  .unique-sec .container {
    @apply max-w-[1240px]
  }
}

@media screen and (max-width: 1366px) {
  .associations-blk-lst {
    max-width: 1100px;
  }

  .item-blk::before {
    width: 16px;
    height: 16px;
  }

  .curve-line {
    top: 234px;
  }

  .item-blk.itm-top::before {
    bottom: 1px;
  }

  .item-blk {
    width: 36%;
  }

  .item-blk .count {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .item-blk .sub-hdg {
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .association-sec .associations-blk.blk-btm {
    margin-top: -115px;
  }

  .association-sec .curve-line {
    height: 116px;
    top: 184px;
  }

  .unique-sec .container {
    @apply max-w-[1160px]
  }
}

@media screen and (max-width: 1280px) {

  .wrks-fr-developers-sec {
    padding: 60px 0;
  }

  .associations-blk-lst {
    max-width: 980px;
  }

  .curve-line {
    top: 226px;
    height: 106px;
  }

  .item-blk p {
    font-size: 16px;
  }

  .item-blk.itm-top {
    padding-bottom: 60px;
    position: relative;
    z-index: 0;
  }

  .item-blk {
    width: 38%;
  }

  .associations-blk.blk-btm {
    margin-top: -100px;
  }

  .association-sec .associations-blk.blk-btm {
    margin-top: -104px;
  }

  .association-sec .curve-line {
    top: 170px;
    height: 108px;
  }

  .unique-sec .container {
    @apply max-w-[1080px]
  }
}

@media screen and (max-width: 1190px) {

  .curve-line {
    top: 222px;
    height: 100px;
  }

  .item-blk.itm-top {
    padding-bottom: 50px;
  }

  .association-sec .associations-blk.blk-btm {
    margin-top: -100px;
  }

  .association-sec .curve-line {
    height: 97px;
  }

  .unique-sec .container {
    @apply max-w-[990px]
  }

}

@media screen and (max-width: 1100px) {

  .curve-line {
    top: 225px;
    height: 95px;
  }

  .association-sec .curve-line {
    height: 93px;
    top: 174px;
  }

}


@media screen and (max-width: 1024px) {

  .top-menu {
    margin-left: auto;
  }

  header#header ul#menu-header-menu {
    max-width: 450px !important;
    margin: auto !important;
  }

  .top-menu ul li ul.sub-menu {
    position: relative !important;
    display: none;
  }

  .top-menu ul li ul.sub-menu::before {
    position: absolute;
    content: " ";
    left: 40px;
    top: 8px;
    width: 22px;
    height: 13px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #fff;
  }

  .submenu-toggle {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 8px;
  }

  /* Add "+" by default */
  .submenu-toggle::after {
    content: "+";
    font-size: 30px;
    font-weight: 400;
    font-family: 'poppins';
    display: inline-block;
    line-height: 1;
    color: #fff;
    /* Adjust to match your nav color */
  }

  /* When open, change to "–" */
  .submenu-toggle.open::after {
    content: "–";
    font-size: 30px;
    font-weight: 400;
  }



  .wrks-fr-developers-sec {
    padding: 50px 0;
  }

  .associations-blk-lst {
    max-width: 720px;
  }

  .associations-blk.blk-top {
    display: none;
  }

  .associations-blk.blk-btm .item-blk.itm-top {
    display: block;
    padding: 0;
  }

  .curve-line,
  .item-blk::before {
    display: none;
  }

  .associations-blk.blk-btm {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .item-blk.itm-btm {
    padding: 0;
  }

  .item-blk {
    width: 100%;
    max-width: 450px;
  }

  .item-blk .sub-hdg br {
    display: none;
  }

  .associations-blk.blk-btm .item-blk:nth-child(2) {
    display: block;
  }

  .association-sec .associations-blk.blk-btm {
    margin-top: 0;
  }

  .unique-sec .container {
    @apply max-w-[750px] m-auto
  }


  .testimonials-sec::before {
    display: none;
  }

  .testi-para {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    line-clamp: 15;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 767px) {

  .wrks-fr-developers-sec {
    padding: 90px 0;
  }

  .associations-blk-lst {
    max-width: 100%;
  }

  .item-blk .count {
    font-size: 80px;
  }

  .item-blk .sub-hdg {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .item-blk p {
    font-size: 20px;
  }

  .associations-blk.blk-btm {
    gap: 70px;
  }

  .wrks-fr-developers-sec .text-heading {
    margin-bottom: 60px;
  }

  #different-sec {
    background-image: url(../../assets/images/different-sec-mbl-bg.webp) !important;
  }

}


@media screen and (max-width: 639px) {
  .hdr-btn {
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }

  .top-menu {
    margin-left: 0;
    order: 3;
  }

  .header-btn {
    margin-left: auto;
  }

  a.hdr-btn span {
    display: none !important;
  }
}

@media screen and (max-width: 409px) {

  .wrks-fr-developers-sec {
    padding: 50px 0;
  }

  .wrks-fr-developers-sec .text-heading {
    margin-bottom: 30px;
  }

  .item-blk .count {
    font-size: 55px;
  }

  .item-blk .sub-hdg {
    font-size: 21px;
    margin-bottom: 12px;
  }

  .item-blk p {
    font-size: 17px;
  }

  .associations-blk.blk-btm {
    gap: 50px;
  }


}

/* inner pages starts */

#header {
  @apply bg-black/10
}

.home #header {
  @apply bg-transparent
}

.top-menu li a {
  @apply text-primary
}

.home #header.f-nav {
  @apply bg-black
}

#header.f-nav .top-menu li a, .home #header.f-nav .top-menu li a {
  @apply text-white
}

.home .top-menu li a {
  @apply text-white
}

/* page banner */

.page_bnr {
  @apply relative z-[1] text-center 3xl:pt-[170px] 2xl:pt-[150px] xl:pt-[135px] lg:pt-[120px] md:pt-[130px] pt-[120px] 3xl:pb-[60px] 2xl:pb-[50px] lg:pb-[40px] md:pb-[50px] pb-[40px]
}

.page_title {
  @apply xl:w-[42%] lg:w-[45%] w-full mx-auto
}

.page_title h1,
.page_title h2,
.page_title h1 *,
.page_title h2 *,
.in-banner-title,
.in-banner-title * {
  @apply font-heading font-bold leading-[1.3] text-primary xl:mb-[2px] lg:mb-[7px] mb-[10px] capitalize 3xl:text-[64px] 2xl:text-[55px] xl:text-[46px] lg:text-[38px] md:text-[35px] text-[30px] 2xl:tracking-[-1.28px] tracking-[-1px]
}

.inrpg-breadcrumbs {
  @apply relative z-[3] text-center m-auto rounded-[50px] pt-[7px] pb-[3px] 3xl:px-[28px] 2xl:px-[25px] xl:px-[22px] lg:px-[20px] md:px-[20px] px-[18px] border-2 border-secondary w-fit mx-auto text-secondary bg-white/10
}

.inrpg-breadcrumbs span {
  @apply flex items-center justify-center flex-wrap xl:gap-[12px] lg:gap-[10px] gap-[7px] text-secondary 3xl:text-[18px] 2xl:text-[17px] xl:text-[16px] lg:text-[15px] text-[13px]
}

.inrpg-breadcrumbs span * {
  @apply font-heading font-bold uppercase leading-[1.3] text-primary tracking-[-0.36px] 3xl:gap-[16px] 2xl:gap-[14px] lg:gap-[12px] gap-[10px] no-underline 3xl:text-[18px] 2xl:text-[17px] xl:text-[16px] text-[14px]
}

.inrpg-breadcrumbs a {
  @apply hover:text-secondary
}

/* cmn styling starts */

.page_default,
.page_default-1 {
  @apply bg-white 3xl:py-[120px] 2xl:py-[100px] xl:py-[85px] lg:py-[70px] md:py-[50px] py-[40px]
}

.page_content {
  @apply relative flex lg:justify-between lg:items-start items-center justify-center lg:flex-row flex-col-reverse lg:gap-[0] md:gap-[40px] gap-[30px]
}

.genpg-rite {
  @apply lg:w-[62.7%] w-full
}

.genpg-rite.full-width {
  @apply w-full
}

.genpg-lft {
  @apply lg:w-[32%] w-full lg:max-w-[518px] max-w-[380px]
}

.genpg-rite p:empty {
  display: none;
}

.genpg-rite h1,
.genpg-rite h1 * {
  @apply 3xl:text-[64px] 2xl:text-[55px] xl:text-[48px] lg:text-[40px] text-[32px] xl:tracking-[-1.28px] lg:tracking-[-0.7px] tracking-[0]
}

.genpg-rite h2,
.genpg-rite h2 * {
  @apply 3xl:text-[48px] 2xl:text-[40px] xl:text-[35px] lg:text-[31px] text-[28px] xl:tracking-[-0.96px] lg:tracking-[-0.72px] tracking-[0]
}

.genpg-rite h3,
.genpg-rite h3 * {
  @apply 3xl:text-[32px] 2xl:text-[28px] xl:text-[25px] lg:text-[22px] text-[21px] xl:tracking-[-0.6px] lg:tracking-[-0.58px] tracking-[0]
}

.genpg-rite h4,
.genpg-rite h4 * {
  @apply 3xl:text-[30px] 2xl:text-[27px] xl:text-[24px] lg:text-[21px] text-[20px] xl:tracking-[-0.56px] lg:tracking-[-0.48px] tracking-[0]
}

.genpg-rite h5,
.genpg-rite h5 * {
  @apply 3xl:text-[28px] 2xl:text-[25px] xl:text-[22px] lg:text-[20px] text-[19px] xl:tracking-[-0.56px] lg:tracking-[-0.48px] tracking-[0]
}

.genpg-rite h6,
.genpg-rite h6 * {
  @apply 3xl:text-[24px] 2xl:text-[22px] xl:text-[20px] text-[18px] xl:tracking-[-0.48px] lg:tracking-[-0.4px] tracking-[0]
}

.genpg-rite h1 {
  @apply font-normal text-black leading-[1.3] font-heading 3xl:mb-[30px] 2xl:mb-[26px] xl:mb-[23px] lg:mb-[20px] mb-[16px] mt-[0]
}

.genpg-rite h2,
.genpg-rite h3,
.genpg-rite h4,
.genpg-rite h5,
.genpg-rite h6 {
  @apply font-normal text-black leading-[1.3] font-heading 3xl:mb-[22px] 2xl:mb-[19px] xl:mb-[17px] lg:mb-[15px] mb-[12px] 3xl:mt-[45px] 2xl:mt-[40px] xl:mt-[36px] lg:mt-[31px] sm:mt-[28px] mt-[24px]
}

.genpg-rite p,
.genpg-rite p *,
.genpg-rite li,
.genpg-rite li * {
  @apply font-body font-normal leading-[1.5] tracking-[0] 3xl:mb-[25px] 2xl:mb-[21px] xl:mb-[18px] lg:mb-[15px] md:mb-[20px] mb-[14px] text-black mt-[0] 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[15px] text-[17px]
}

.genpg-rite p {
  @apply 3xl:mb-[35px] 2xl:mb-[30px] xl:mb-[26px] lg:mb-[21px] mb-[20px]
}

.genpg-rite h1 *,
.genpg-rite h2 *,
.genpg-rite h3 *,
.genpg-rite h4 *,
.genpg-rite h5 *,
.genpg-rite h6 *,
.genpg-rite p *,
.genpg-rite li * {
  @apply m-[0] text-inherit font-normal
}

.genpg-rite h1 strong,
.genpg-rite h2 strong,
.genpg-rite h3 strong,
.genpg-rite h4 strong,
.genpg-rite h5 strong,
.genpg-rite h6 strong {
  @apply text-secondary
}

.genpg-rite p a,
.genpg-rite li a,
.genpg-rite a,
.genpg-rite li a,
.genpg-rite h1 a,
.genpg-rite h2 a,
.genpg-rite h3 a,
.genpg-rite h4 a,
.genpg-rite h5 a,
.genpg-rite h6 a,
.genpg-rite p a {
  @apply text-secondary hover:text-primary hover:no-underline underline
}

.genpg-rite p strong,
.genpg-rite p b,
.genpg-rite ul li strong,
.genpg-rite ul li b,
.genpg-rite ol li strong,
.genpg-rite ol li b {
  @apply font-[400] text-secondary
}

.genpg-rite ul li {
  @apply 3xl:mb-[20px] 2xl:mb-[17px] lg:mb-[15px] mb-[13px] relative list-none ml-0 xl:pl-[18px] lg:pl-[16px] pl-[14px]
}

.genpg-rite ol li {
  @apply 3xl:mb-[20px] 2xl:mb-[17px] lg:mb-[15px] mb-[16px]
}

.genpg-rite ul li:before {
  content: "";
  position: absolute;
  background-color: #EF5F1F;
  width: 6px;
  height: 6px;
  left: 0;
  top: 11px;
}

.genpg-rite ol,
.genpg-rite ul {
  @apply list-inside 2xl:mb-[25px] lg:mb-[22px] mb-[19px] 2xl:ml-[25px] lg:ml-[22px] md:ml-[19px] sm:ml-[15px] ml-[10px]
}

.genpg-rite ol {
  @apply !list-decimal
}

.genpg-rite ol li {
  @apply list-decimal pl-[0]
}

.genpg-rite ul li>ul, .genpg-rite ol li>ol {
  @apply pl-[0] 2xl:pt-[25px] xl:pt-[21px] pt-[18px] 3xl:ml-[15px] 2xl:ml-[13px] lg:ml-[10px]
}

.genpg-rite ul li>ul li {
  @apply list-none
}

.genpg-rite ul li>ul li>ol li {
  @apply list-decimal
}

.genpg-rite ul li>ol li {
  @apply list-decimal
}

.genpg-rite ul li>ol li:before {
  display: none;
}

.genpg-rite ul li>ol li>ul li {
  @apply list-disc
}

.single-page-thumbnail {
  @apply 3xl:mb-[85px] 2xl:mb-[70px] xl:mb-[60px] lg:mb-[50px] md:mb-[40px] mb-[30px]
}

.single-page-thumbnail img {
  @apply w-full block
}

/* common styling ends */

/* sidebars starts */

/* services sidebar */

.genpg-lft .widget {
  @apply 3xl:mb-[120px] 2xl:mb-[90px] xl:mb-[70px] lg:mb-[50px] mb-[30px] last:mb-[0] 3xl:px-[40px] 2xl:px-[30px] xl:px-[26px] lg:px-[22px] sm:px-[25px] px-[20px] 3xl:py-[64px] 2xl:py-[55px] xl:py-[50px] lg:py-[45px] py-[25px] bg-[#fafafa]
}

.genpg-lft .widget .widget-title {
  @apply font-heading font-normal leading-[1] text-secondary 3xl:text-[48px] 2xl:text-[40px] xl:text-[35px] lg:text-[31px] text-[28px] xl:tracking-[-0.96px] lg:tracking-[-0.72px] tracking-[0] 3xl:mb-[30px] 2xl:mb-[26px] xl:mb-[23px] lg:mb-[20px] mb-[16px]
}

.genpg-lft .widget ul li span {
  @apply hidden
}

.genpg-lft .widget ul {
  @apply p-[0] m-[0]
}

.genpg-lft .widget ul li {
  @apply no-underline
}

.genpg-lft .widget ul li {
  @apply border-b-[1px] border-b-[#D0D0D0] border-solid last:mb-[0] 3xl:mb-[25px] 2xl:mb-[21px] xl:mb-[19px] lg:mb-[16px] mb-[15px] 3xl:pb-[25px] 2xl:pb-[21px] xl:pb-[19px] lg:pb-[16px] pb-[15px]
}

.genpg-lft .widget ul li a {
  @apply font-body font-normal bg-[url(../../assets/images/in-sb-menu-arrow.svg)] 2xl:bg-[length:8px] bg-[length:6px] bg-[center_right_10px] bg-no-repeat tracking-[0] text-black hover:text-secondary no-underline block w-full 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[14px] text-[17px] 3xl:pr-[30px] 2xl:pr-[26px] xl:pr-[23px] lg:pr-[20px] pr-[20px]
}

.genpg-lft .widget ul li a {
  @apply m-[0]
}

/* form sidebar */

.in-sidebar-form {
  @apply 3xl:mb-[120px] 2xl:mb-[90px] xl:mb-[70px] lg:mb-[50px] mb-[30px] last:mb-[0] 3xl:px-[40px] 2xl:px-[30px] xl:px-[26px] lg:px-[25px] sm:px-[25px] px-[20px] 3xl:py-[70px] 2xl:py-[55px] xl:py-[50px] lg:py-[45px] py-[25px] bg-[#e2d8e317] 2xl:border-b-[10px] xl:border-b-[8px] lg:border-b-[6px] border-b-[5px] border-b-[#8DCF6A] border-solid
}

.in-sidebar-form .form-hdg, .in-sidebar-form .form-hdg * {
  @apply 3xl:text-[48px] 2xl:text-[40px] xl:text-[35px] lg:text-[31px] sm:text-[28px] text-[26px] xl:tracking-[-0.96px] lg:tracking-[-0.72px] tracking-[0] leading-[1] xl:mb-[15px] mb-[12px] font-heading font-bold text-primary;
}

.in-sidebar-form .form-hdg strong {
  @apply text-secondary;
}

.in-sidebar-form p {
  @apply font-body text-black 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] text-[15px] 3xl:mb-[40px] 2xl:mb-[35px] xl:mb-[30px] lg:mb-[25px] mb-[20px]
}

.in-sidebar-form :is(input, .gchoice label, textarea, .gfield legend, select) {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0px !important;
  color: #000 !important;
  border-radius: 0px !important;
  background-color: #F4F4F4 !important;
  border: 1px solid rgb(0 0 0 / 2%) !important;
  outline: 0 !important;
  box-shadow: none;
  padding: 14px 24px !important;
}

.in-sidebar-form .gfield legend {
  margin-bottom: 45px !important;
  border: 0px;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none;
}

.in-sidebar-form textarea {
  resize: none;
  min-height: auto;
  height: 97px !important;
}

.in-sidebar-form .gchoice label {
  background-color: transparent !important;
  padding: 0px !important;
  border: 0px !important;
}

.in-sidebar-form .gfield_checkbox .gchoice input {
  padding: 0px !important;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
  margin-right: 20px;
  margin-bottom: 0;
}

.in-sidebar-form .gfield_checkbox {
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, 1fr);
  gap: 32px;
}

.in-sidebar-form .gform_fields {
  gap: 40px !important;
}

.in-sidebar-form .gfield_checkbox input[type=radio]:checked:before,
input[type=checkbox]:checked:before {
  width: 100%;
  line-height: 1;
  place-content: center;
  height: 100%;
  color: #8DCF6A;
}

.in-sidebar-form input.gform_button.button {
  font-size: 24px !important;
  line-height: 1 !important;
  letter-spacing: 0px;
  font-family: 'Fieldwork';
  font-weight: 700;
  text-transform: uppercase;
  background-color: #36499B !important;
  color: #fff !important;
  padding: 20px 34px 17px !important;
  margin: 0px !important;
  outline: 0px !important;
  border: 0px !important;
}

.in-sidebar-form input.gform_button.button:hover {
  background-color: #8DCF6A !important;
}

.in-sidebar-form .ginput_container.ginput_container_textarea {
  margin-bottom: 40px;
}

.in-sidebar-form .gform_wrapper .gform_validation_errors {
  display: none;
}

.in-sidebar-form .gform_wrapper .gfield {
  position: relative;
}

.in-sidebar-form .gform_wrapper .gfield .validation_message.gfield_validation_message,
.in-sidebar-form .gform_wrapper .gfield .instruction.validation_message {
  font-family: 'Century Gothic';
  font-weight: 400;
  position: absolute;
  top: 6px;
  background: none;
  padding: 0px;
  line-height: 1;
  color: #ff0000;
  font-size: 13px;
  right: 10px;
  font-weight: 500;
  width: auto;
  border: none;
  pointer-events: none;
  margin: 0;
}

.in-sidebar-form .gform_wrapper .gfield .instruction.validation_message {
  bottom: 8px;
  top: inherit !important;
}

.in-sidebar-form .gform_wrapper.gravity-theme .gform_fields {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.in-sidebar-form .gform_wrapper.gravity-theme .gform_footer {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.in-sidebar-form .gform_wrapper .gfield_error [aria-invalid="true"] {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #035653;
}

/* contact sidebar */

.in-sidebar-contact {
  @apply bg-no-repeat bg-cover bg-[center_center] 3xl:pt-[70px] 2xl:pt-[60px] xl:pt-[50px] lg:pt-[45px] pt-[30px] 3xl:pb-[55px] 2xl:pb-[48px] xl:pb-[40px] lg:pb-[34px] pb-[30px] 3xl:pr-[40px] 2xl:pr-[35px] xl:pr-[32px] lg:pr-[28px] pr-[25px]
}

.in-sb-cont-call-btn {
  @apply bg-[url(../../assets/images/in-sb-cont-btn-bg-img.webp)] bg-no-repeat bg-cover bg-[center_center] 3xl:py-[25px] 2xl:py-[21px] xl:py-[18px] lg:py-[15px] py-[13px] 3xl:px-[50px] 2xl:px-[44px] xl:px-[40px] lg:px-[36px] md:px-[32px] sm:px-[29px] px-[25px] text-white hover:text-white font-body font-bold no-underline relative flex justify-center items-center w-fit xl:gap-[15px] md:gap-[12px] gap-[10px] 3xl:text-[32px] 2xl:text-[28px] xl:text-[25px] lg:text-[22px] sm:text-[23px] text-[21px]
}

.in-sb-cont-call-btn:hover {
  background: #36499B;
}

.in-sb-cont-call-btn::before {
  content: "";
  background-image: url(../../assets/images/in-sb-cont-btn-call-img.webp);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}

.in-sb-testi-item {
  @apply relative 3xl:pl-[110px] 2xl:pl-[95px] xl:pl-[70px] lg:pl-[60px] pl-[45px]
}

.in-sb-testi-para p, .in-sb-testi-author {
  @apply font-body font-bold text-white 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[14px] text-[15px] 3xl:mb-[40px] 2xl:mb-[35px] xl:mb-[30px] mb-[25px]
}

.in-sb-testi-para p {
  @apply 3xl:mb-[20px] 2xl:mb-[18px] xl:mb-[17px] lg:mb-[15px] mb-[16px]
}

.in-sb-testi-item::before {
  height: 41px;
  width: 56px;
  background-image: url(../../assets/images/in-sb-testi-quote-img.webp);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
}

/* sidebars ends */

/* cmn block starts */

.in-cmn-blk {
  @apply bg-[url(../../assets/images/in-cmn-blk-bg-img.webp)] bg-no-repeat bg-center bg-cover text-center overflow-hidden relative w-full mx-0 3xl:px-[90px] 2xl:px-[70px] xl:px-[55px] lg:px-[40px] sm:px-[30px] px-[20px] 3xl:py-[72px] 2xl:py-[65px] xl:py-[50px] lg:py-[35px] sm:py-[30px] py-[20px] 3xl:my-[70px] 2xl:my-[55px] xl:my-[40px] sm:my-[30px] my-[28px]
}

.genpg-rite .in-cmn-blk-hdg, .genpg-rite .in-cmn-blk-hdg * {
  @apply not-italic font-heading font-bold relative leading-[1.3] text-center text-white 3xl:mb-[15px] 2xl:mb-[13px] xl:mb-[12px] lg:mb-[11px] mb-[14px] 3xl:text-[48px] 2xl:text-[40px] xl:text-[35px] lg:text-[31px] text-[28px] xl:tracking-[-0.96px] lg:tracking-[-0.72px] tracking-[0]
}

.genpg-rite .in-cmn-blk-hdg * {
  @apply m-[0] no-underline
}

.genpg-rite .in-cmn-blk-hdg a:hover {
  @apply text-primary
}

.in-cmn-blk-btn {
  @apply relative
}

.page_default .genpg-rite .in-cmn-blk-btn a.cmn-btn {
  @apply text-white bg-secondary no-underline 3xl:text-[20px] 2xl:text-[18px] xl:text-[16px] lg:text-[15px] text-[14px] 3xl:px-[40px] 2xl:px-[35px] xl:px-[30px] lg:px-[25px] px-[20px] 3xl:py-[20px] 2xl:py-[18px] xl:py-[15px] py-[13px] hover:bg-black
}

/* cmn block ends */

/* testimonials page starts */

.inr-testi-blk {
  @apply w-full 3xl:max-w-[1180px] 2xl:max-w-[1100px] xl:max-w-[1000px] lg:max-w-[900px] max-w-[100%] mx-auto
}

.inr-testi-blk .test-item {
  @apply 2xl:pb-[70px] xl:pb-[50px] lg:pb-[40px] md:pb-[30px] pb-[25px] 2xl:mb-[70px] xl:mb-[60px] lg:mb-[40px] mb-[35px] border-b-[1px] border-[#E7E7E7] last:mb-0
}

.inr-testi-blk .test-item .testi-hdg {
  @apply 3xl:text-[48px] 2xl:text-[40px] xl:text-[35px] lg:text-[31px] text-[28px] xl:tracking-[-0.96px] lg:tracking-[-0.72px] tracking-[0] text-secondary uppercase font-heading leading-[1.2] font-[700] 2xl:mb-[10px] lg:mb-[8px] mb-[7px]
}

.inr-testi-blk .test-item .author {
  @apply 2xl:text-[20px] xl:text-[18px] lg:text-[16px] text-[18px] font-body font-[700] text-primary leading-[1.4] tracking-[0px] relative
}

.inr-testi-blk .test-item p {
  @apply mt-0 xl:mb-[40px] lg:mb-[30px] mb-[25px]
}

/* testimonials page ends */

/* about page starts */

.in-about-image {
  @apply lg:w-[83%] w-full lg:max-w-full max-w-[450px] mx-auto 3xl:my-[65px] 2xl:my-[55px] xl:my-[45px] lg:my-[40px] sm:my-[35px] my-[30px] last:mb-0
}

.in-about-image img {
  @apply w-full block
}

.about-main-blk {
  @apply lg:w-[76.9%] w-full mx-auto
}

.genpg-rite .about-main-blk h2 {
  @apply text-primary first:mt-[0]
}

/* about page ends */

/* Contact page starts */

.contact-page {
  @apply xl:max-w-[1070px] lg:max-w-[970px] max-w-full w-full m-auto
}

.contact-page .contact-para {
  @apply text-center 3xl:mb-[80px] 2xl:mb-[65px] xl:mb-[55px] lg:mb-[40px] md:mb-[35px] mb-[30px]
}

.contact-page .contact-para p {
  @apply 3xl:text-[24px] 2xl:text-[21px] xl:text-[19px] lg:text-[17px] text-[20px] leading-[1.3] tracking-[-0.5px] font-heading font-bold m-0 text-secondary
}

.contact-blk {
  @apply 3xl:py-[70px] 2xl:py-[60px] xl:py-[50px] lg:py-[40px] sm:py-[30px] py-[25px] 3xl:px-[40px] 2xl:px-[35px] xl:px-[32px] lg:px-[27px] sm:px-[30px] px-[25px] bg-[#e2d8e3]/[0.09] xl:border-b-[10px] lg:border-b-[8px] border-b-[5px] border-secondary
}

.contact-blk h2 {
  @apply text-secondary mt-[0] xl:mb-[10px] lg:mb-[8px] mb-[10px]
}

.form-top-para p {
  @apply 3xl:mb-[40px] 2xl:mb-[35px] xl:mb-[32px] lg:mb-[28px] md:mb-[30px] mb-[25px]
}

.form-bottom-para p {
  @apply mb-[0]
}

.form-bottom-para p a {
  @apply text-black
}

input::placeholder,
textarea::placeholder {
  color: #000;
}

.contact-page :is(input, .gchoice label, textarea, .gfield legend, select) {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 20px !important;
  line-height: 1 !important;
  letter-spacing: 0px !important;
  color: #000 !important;
  border-radius: 0px !important;
  background-color: #F4F4F4 !important;
  border: 1px solid rgb(0 0 0 / 2%) !important;
  outline: 0 !important;
  box-shadow: none;
  padding: 13px 24px !important;
}

.contact-page .gfield legend {
  margin-bottom: 45px !important;
  border: 0px;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none;
}

.contact-page textarea {
  resize: none;
  min-height: auto;
  height: 137px !important;
}

.contact-page .gchoice label {
  background-color: transparent !important;
  padding: 0px !important;
  border: 0px !important;
}

.contact-page .gfield_checkbox .gchoice input {
  padding: 0px !important;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
  margin-right: 20px;
  margin-bottom: 0;
}

.contact-page .gfield_checkbox {
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, 1fr);
  gap: 32px 160px;
}

.contact-page .gfield_checkbox .gchoice {
  display: flex;
  width: max-content;
}

.contact-page .gform_fields {
  gap: 47px 40px !important;
}

.contact-page .gfield_checkbox input[type=radio]:checked:before {
  width: 100%;
  line-height: 1;
  place-content: center;
  height: 100%;
  color: #fff;
}

.contact-page .gfield_checkbox label {
  cursor: pointer;
}

.contact-page input[type=checkbox] {
  position: relative;
  appearance: none;
}

.contact-page input[type=checkbox]:checked {
  background: #36499B !important;
}

.contact-page input[type=checkbox]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0
}

.contact-page input[type=checkbox]:checked::before {
  content: '✓';
  position: absolute;
  font-weight: 700;
  top: -2px;
  left: 7px;
  color: #fff !important;
}

.contact-page input.gform_button.button {
  font-size: 24px !important;
  line-height: 1 !important;
  letter-spacing: 0px;
  font-family: 'Fieldwork';
  font-weight: 700;
  text-transform: uppercase;
  background-color: #36499B !important;
  color: #fff !important;
  padding: 20px 40px !important;
  margin: 0px !important;
  outline: 0px !important;
  border: 0px !important;
}

.contact-page input.gform_button.button:hover {
  background-color: #8DCF6A !important;
}

.contact-page .ginput_container.ginput_container_textarea {
  margin-bottom: 48px;
}

.contact-page .gform_wrapper .gform_validation_errors {
  display: none;
}

.contact-page .gform_wrapper .gfield {
  position: relative;
}

.contact-page .gform_wrapper .gfield .validation_message.gfield_validation_message,
.contact-page .gform_wrapper .gfield .instruction.validation_message {
  font-family: 'Century Gothic';
  font-weight: 400;
  position: absolute;
  top: 6px;
  background: none;
  padding: 0px;
  line-height: 1;
  color: #ff0000;
  font-size: 13px;
  right: 10px;
  font-weight: 500;
  width: auto;
  border: none;
  pointer-events: none;
  margin: 0;
}

.contact-page .gform_wrapper .gfield .instruction.validation_message {
  bottom: 8px;
  top: inherit !important;
}

.contact-page .gform_wrapper.gravity-theme .gform_fields {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.contact-page .gform_wrapper.gravity-theme .gform_footer {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.contact-page .gform_wrapper .gfield_error [aria-invalid="true"] {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #035653;
}

.contact-form {
  margin-bottom: 48px;
}

/* contact page ends */

@media screen and (max-width:1650px) {

  .in-sb-testi-item::before {
    width: 50px;
    height: 39px;
    left: 27px;
    top: 10px;
  }

  .in-sb-cont-call-btn::before {
    width: 36px;
    height: 35px;
  }

  .in-sidebar-form .gform_fields {
    gap: 33px !important;
  }

  .in-sidebar-form :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 18px !important;
    padding: 13px 21px !important;
  }

  .in-sidebar-form textarea {
    height: 90px !important;
  }

  .in-sidebar-form input.gform_button.button {
    font-size: 20px !important;
    padding: 18px 30px 14px !important;
  }

  .in-sidebar-form .ginput_container.ginput_container_textarea {
    margin-bottom: 33px;
  }

  /* contact form */

  .contact-page :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 18px !important;
    padding: 11px 21px !important;
  }

  .contact-page .gfield legend {
    margin-bottom: 40px !important;
    padding: 0 !important;
  }

  .contact-page .gchoice label {
    padding: 0px !important;
  }

  .contact-page .gform_fields {
    gap: 37px !important;
  }

  .contact-page .gfield_checkbox .gchoice input {
    width: 26px;
    height: 26px;
    margin-right: 16px;
  }

  .contact-page textarea {
    height: 115px !important;
  }

  .contact-page .ginput_container.ginput_container_textarea {
    margin-bottom: 37px;
  }

  .contact-form {
    margin-bottom: 40px;
  }

  .contact-page input.gform_button.button {
    font-size: 21px !important;
    padding: 18px 35px 15px !important;
  }

  .contact-page .gfield_checkbox {
    gap: 28px 250px;
  }

}

@media screen and (max-width:1550px) {

  .in-sb-testi-item::before {
    width: 39px;
    height: 30px;
    left: 14px;
    top: 8px;
  }

  .in-sb-cont-call-btn::before {
    width: 30px;
    height: 29px;
  }

  .in-sidebar-form .gform_fields {
    gap: 30px !important;
  }

  .in-sidebar-form :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 17px !important;
    padding: 13px 21px !important;
  }

}

@media screen and (max-width:1440px) {
  .in-sb-testi-item::before {
    width: 33px;
    height: 23px;
    left: 14px;
    top: 6px;
  }

  .in-sb-cont-call-btn::before {
    width: 26px;
    height: 24px;
  }

  .in-sidebar-form .gform_fields {
    gap: 23px !important;
  }

  .in-sidebar-form :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 16px !important;
    padding: 11px 18px !important;
  }

  .in-sidebar-form textarea {
    height: 80px !important;
  }

  .in-sidebar-form .ginput_container.ginput_container_textarea {
    margin-bottom: 18px;
  }

  .in-sidebar-form input.gform_button.button {
    font-size: 18px !important;
    padding: 16px 26px 12px !important;
  }

  .in-sidebar-form .gform_wrapper .gfield .validation_message.gfield_validation_message,
  .in-sidebar-form .gform_wrapper .gfield .instruction.validation_message {
    font-size: 11px;
    right: 7px;
  }

}

@media screen and (max-width:1280px) {
  .in-sidebar-form .gform_fields {
    gap: 21px !important;
  }

  .in-sidebar-form :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 15px !important;
    padding: 11px 18px !important;
  }

  .in-sidebar-form input.gform_button.button {
    font-size: 17px !important;
    padding: 14px 22px 11px !important;
  }

  .in-sidebar-form textarea {
    height: 70px !important;
  }

  .contact-page .gform_fields {
    gap: 28px !important;
  }

  .contact-page :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 15px !important;
    padding: 10px 16px !important;
  }

  .contact-page .gfield legend {
    margin-bottom: 33px !important;
    padding: 0 !important;
  }

  .contact-page .gfield_checkbox .gchoice input {
    width: 21px;
    height: 21px;
    margin-right: 12px;
  }

  .contact-page textarea {
    height: 100px !important;
  }

  .contact-page .ginput_container.ginput_container_textarea {
    margin-bottom: 30px;
  }

  .contact-form {
    margin-bottom: 35px;
  }

  .contact-page .gform_wrapper .gfield .validation_message.gfield_validation_message,
  .contact-page .gform_wrapper .gfield .instruction.validation_message {
    top: 4px;
    font-size: 11px;
    right: 8px;
  }

  .contact-page .gchoice label {
    padding: 0px !important;
  }

  .contact-page input.gform_button.button {
    font-size: 17px !important;
    padding: 15px 30px 12px !important;
  }

  .contact-page .gfield_checkbox {
    gap: 21px 40px;
  }

  .contact-page input[type=checkbox]:checked::before {
    left: 4px;
  }

}

@media screen and (max-width:1024px) {
  .in-sb-testi-item::before {
    width: 25px;
    height: 17px;
    left: 10px;
    top: 6px;
  }

  /* contact form */

  .contact-page .gfield_checkbox {
    gap: 18px 30px;
  }

  .contact-page .gform_fields {
    gap: 25px !important;
  }

  .contact-page :is(input, .gchoice label, textarea, .gfield legend, select) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    padding: 9px 15px !important;
  }

  .contact-page .gfield_checkbox .gchoice input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .contact-page .gfield_checkbox .gchoice {
    width: auto;
  }

  .contact-page .gchoice label {
    padding: 0px !important;
  }

  .contact-page .gfield legend {
    margin-bottom: 30px !important;
    padding: 0 !important;
  }

  .contact-page textarea {
    height: 95px !important;
  }

  .contact-page input[type=checkbox]:checked::before {
    left: 4px;
    top: 0px;
  }

}

@media screen and (max-width:767px) {
  .contact-page .gfield_checkbox {
    grid-template: repeat(4, auto) / repeat(1, 1fr);
  }

  .contact-page .gform_fields {
    gap: 18px !important;
  }
}